form {
	background: silver;
	width: 500px;
	margin:0 auto;
	padding: 10px;
	border: 2px solid grey;
}

input[type="text"] {
	border: 1px solid black;
	height: 30px;
	width: 250px;
}

input[type="password"] {
	border: 1px solid black;
	height: 30px;
	width: 250px;
}

textarea {
	resize: none;
	width: 250px;
	height: 150px;
	border: 1px solid gray;
}

select {
	height: 30px;
	width: 250px;
}

input[type="submit"]{
	width : 250px;
	height: 30px;
	background: gray;
	color: white;
	font-weight: bold;
	border: 2px solid black;
}

input[type="submit"]:hover {
	background: white;
	color: gray;
}