ul {
	list-style-type: none;
	background: silver;
	padding: 10px;

}

ul li {
	width: 100px;
	text-align: center;
	float: left;
	background: orange;
	padding: 10px;
	border: 2px solid brown;
	margin: 10px  100px;
	color: white;
}

ul li:hover {
	background: brown;
}

ol {
	list-style-type: upper-alpha;
}

ol li {

}