#para1 {
	height: 300px;
	width : 300px;
	background: silver;
	text-align: justify;
	padding: 10px;
	text-decoration: none;
	text-transform: none;
	text-indent: 0px;
	text-shadow: 5px 5px 5px white;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	font-family: "Times new roman";
	/** Sans-serif fonts **/
	/** font-family : arial,verdana **/;
}