#ano-para {
	color: brown;
	background-color: green;
	height: 50%;
	width: 50%;
}

.first-div {
	color: orange;
	background-color: green;
}

h4 {
	color: green;
	background-color: tan;
}

#a-tag:link {
	color: green;
	text-decoration: none;
}

#a-tag:visited {
	color: brown;
}

#a-tag:hover {
	color: orange;

}

#a-tag:active {
	color:silver;
}

/****************** Sibling selector's lecture******************/

	#sib-div p {
		color: orange;
	}

	#sib-div ~ p{
		color: tan;
	}

	#sib-div2 + p {
		color: silver;
	}

	#sib-div2 > p {
		color: red;
	}

/****************** Sibling selector's lecture******************/
